<form method="post" action="/add" autocomplete="off">
    <p>Titulo:</p> 
    <input type="text" name="titulo" required="yes">
    <p>Conteudos:</p>
    <textarea name="conteudo" required="yes">
      
    </textarea>
      <input type="submit" value="Enviar formulário">
  </form>
